{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio for Mr.</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>
<body>
    <div class = "body-container">
        <div class = "header">
            HEADER
        </div>
        <div class = "mid">
            <div class= "bigwindow">
                <div class="card-container">
                    <p>Your Boots activity</p>
                    <div class="cards">
                        <div class="window"><p><strong>First act</strong></p> <p>ipsum d a dolor vel orci pulvinar pretium in vitae dui. Suspendisse hendrerit, augue id iaculis consectetur, purus tortor interdum mauris, tincidunt semper elit nulla quis orci. In</p>
                            
                        </div>
                        <div class="window"><p><strong>Second act</strong></p> <p>ipsum d a dolor vel orci pulvinar pretium in vitae dui. Suspendisse hendrerit, augue id iaculis consectetur, purus tortor interdum mauris, tincidunt semper elit nulla quis orci. In</p>
                            
                        </div>
                        <div class="window"><p><strong>Third act</strong></p> <p>ipsum d a dolor vel orci pulvinar pretium in vitae dui. Suspendisse hendrerit, augue id iaculis consectetur, purus tortor interdum mauris, tincidunt semper elit nulla quis orci. In</p>
                            
                        </div>
                        <div class="window"><p><strong>Fourth act</strong></p> <p>ipsum d a dolor vel orci pulvinar pretium in vitae dui. Suspendisse hendrerit, augue id iaculis consectetur, purus tortor interdum mauris, tincidunt semper elit nulla quis orci. In</p>
                    </div>
                </div> 
            </div>
        </div>
    </div>
        <div class = footer>
            <p>FOOTER</p>
        <div class = "footer-link"><img src="{% static 'images/git-32.png'%}" alt="" id="gitLink">        </div>

    </div>
</body>
</html>