/* Basic styles for the navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(245, 156, 227, 0.5);
    padding: 10px 0;
    transition: background-color 0.3s ease;
    z-index: 1000;
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  
  .navbar li {
    margin: 0 15px;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  
  .navbar.scrolled {
    background-color: #000; /* Darken the navbar when scrolled */
  }
  
  .navbar.scrolled a {
    color: #f1f1f1; /* Change link color when scrolled */
  }
  